.btn{
    border-radius: 50%;
    color: #0080ff;
    font-size: 35px;
    margin-top: 0px;
}
.btn:focus{
    outline: none;
}
@media screen  and (max-width: 900px){
    .btn{
        margin-top: -2rem;
    }
}
.mainstory{
    width: 25%;
    height: 90%;
    border-radius: 10px;
    border: 1px solid gray;
    text-align: center;
    padding: 0 5px;   
}

.imgselect{
    text-align:center;
    object-fit: cover;
    width: 250px;
    height: 140px;
    object-fit: fill;
    object-position: 0 0;
    border-radius: 10px;
    margin-top: -90px;
}

